
            div.navBar{
                background-color: #000000;
                height:20px;
                
            }
            
            div.balances{
                background-color: lightblue;
                height: 90px;
                width: 500px;
                text-align: center;
                border: 50px;
                margin-left: auto;
            }

            div.profile{
                background-color: #000000;
                height: 30px;
                width: 50px;
            }
