<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv = "Content-Type" content = "text/html" charset = "UTF-8">
        <meta name       = "author"       content = "Marc Berry">
        <meta name       = "description"  content = "PROJECT: MARS">
        <meta name       = "keywords"     content = "">
        <meta name       = "viewport"     content = "width=device-width, initial-scale=1.0">

        <title>MARS</title>

    </head>
    <main>
        <nav>
            <a href="#" class="active">Home</a>
        </nav>        
        <header>
        Hello, YOU MADE IT!!
        </header>
        <section>
        TODO: MAKE SOME CONTENT
        </section>
        <footer>
            <p style="text-align: center">PROJECT: MARS</p>
        </footer>
    </main>
</html>