<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta http-equiv = "Content-Type" content = "text/html" charset = "UTF-8">
        <meta name       = "author"       content = "Marc Berry">
        <meta name       = "description"  content = "PROJECT: MARS">
        <meta name       = "keywords"     content = "">
        <meta name       = "viewport"     content = "width=device-width, initial-scale=1.0">

        <title>MARS</title>

        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-reboot.min.css">
    </head>
    <main>
        <div class="topnav">
            <div class="topnav-centered">
              <a href="#home" class="active">Home</a>
            </div>

            <a href="#news">News</a>
            <a href="#contact">Contact</a>

            <div class="topnav-right">
              <a href="#search">Search</a>
              <a href="#about">About</a>
            </div>
          </div>   

        <header style="text-align: center">
        Mars project header
        </header>

        <div class="container">
            <div class="row">
                <div class="col-md-6" >
                    <h3>Column 1</h3>
                    <p>Lorem ipsum dolor..</p>
                </div>
                
                <div class="col-md-6">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor..</p>
                </div>
            </div>
        </div>
        <footer>
            <p style="text-align: center">PROJECT: MARS</p>
        </footer>
        <script src="../static/js/bootstrap.min.js"></script>
    </main>
</html>