<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-reboot.min.css">
</head>

<body>
  
<h2>Sign up Form</h2>

<form name="submitNewUser">

  <div class="container">

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter a username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter a secure password" name="psw" required>
        
    <button type="submit" name="submitUserForm">Create Account</button>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>
</body>
<script>src="/static/js/jquery.js"</script>
<script>
  $(document).ready(function(){
        // click on button submit
        $("#submitUserForm").on('click', function(){
            // send ajax
            var formData = JSON.stringify($("#submitNewUser").serializeArray());
            $.ajax({
                type: "POST",
                url: "/postuser",
                data: formData,
                success: function(){console.log(formData);console.log("success")},
                dataType: "json",
                contentType : "application/json"
            })
        });
    });
</script>
</html>